knob {
    background-color: #2e2e2e;
}

knob>.back {
    background-color: #2e2e2e;
}

knob>.slider {
    background-color: #3669c9;
}

knob>.tick {
    background-color: #c8c8c8;
}

textbox {
    color: white;
    background-color: #2e2e2e;
    padding-left: 5px;
}